<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">My Thoughts and Ideas.</h1>
    <p class="lead blog-description">I share my thoughts as a developer and trainer at
      <a href="http://www.therailsshop.club" target="_blank">Therailsshop</a></p>
    <span><%= link_to 'New Blog', new_blog_path if logged_in?(:site_admin) %></span>
    <span><%= link_to 'Topics', topics_path%></span>
  </div>
</div>
