<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile_image", width: 300, alt:"Profile image"%>
  </div>
  <div class="col-md-8">
    <h1 class="cover-heading">Welcome to Shyaka's world.</h1>
    <p class="lead">I have a passion for technology and zeal to pass on the knowledge that I gain
    to the young ones. I'm a developer and trainer at <a href="www.therailshop.club">Therailsshop</a>
  </p>
  <p class="lead">I have a passion for technology and zeal to pass on the knowledge that I gain
  to the young ones. I'm a developer and trainer at <a href="www.therailshop.club">Therailsshop</a>
 </p>
  <p class="lead">I have a passion for technology and zeal to pass on the knowledge that I gain
  to the young ones. I'm a developer and trainer at <a href="www.therailshop.club">Therailsshop</a>
  </p>
  <p class="lead">I have a passion for technology and zeal to pass on the knowledge that I gain
  to the young ones. I'm a developer and trainer at <a href="www.therailshop.club">Therailsshop</a>
  </p>

  </div>
</div>
